<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tensorflow.demo"
    android:versionCode="1"
    android:versionName="1.0"
    >

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:label="@string/name"
        android:supportsRtl="true"
        android:theme="@style/App_Theme">
        <activity android:name=".tip.TIPActivity"/>
        <activity android:name=".mappoint.Point1"/>
        <activity android:name=".mappoint.Point2"/>
        <activity android:name=".Yolo.YoloResultActivity"/>
        <activity android:name=".DetectorActivity"/>

        <activity android:name=".nofish.activity.NoFishData" />
        <activity android:name=".map.weather"/>
        <activity android:name=".map.map"/>
        <activity android:name=".pointdetail.Fish_Detail_Info_Activity"/>
        <activity android:name=".pointdetail.Point_Info_Activity"/>
        <activity android:name=".nofish.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAAw9e_6cEXYMNxQmr6MJeRBUfaTqd8Lxc" />


    </application>


</manifest>